
.header {
    display: flex;
    position: sticky;
	top:0;
    height: 15vh;
    width: 100vw;
    background-color: $accent1;
}

.header__nav{
    display: flex;
}
.nav {
    ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;

    li {
        padding: 2vw;
        border: 1px solid $accent2;
        border-radius: 1em;
        margin: 0 1vw 0 1vw;
    }

}
}