@font-face {
	font-family: Luckiest;
	src: url(../assets/Luckiest.otf);
}

$font: Luckiest;
$bg: #79C6FE;
$bg-dark:#4394F4;
$accent1: #F9E8CD;
$accent2: #F7AC3A;
$accent3: #C2F9A1;
$text: #212121;
$mobile: 576px;
$tablet: 768px;
$height: 20vw;
$block-size: 20vw;