@import "./vars";
@import "./header";
@import "./footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: $bg;
}

.card {
    background-color: $bg-dark;
}