@charset "UTF-8";
@font-face {
  font-family: Luckiest;
  src: url(../assets/Luckiest.otf);
}
.header {
  display: flex;
  height: 12vh;
  width: 100vw;
  background-color: #F9E8CD;
}

.header__logo-img {
  height: 10vh;
}

.header__wrapper {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 10vw;
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;
}

.nav__item {
  margin-right: 3vw;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  width: 35px;
  color: #212121;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  background-color: #F7AC3A;
  border: 1px solid #F7AC3A;
  border-radius: 1em;
  padding: 1vh 2vw;
}

/* бургер-меню */
.hamburger-menu {
  display: none;
  z-index: 3;
}

@media (max-width: 576px) {
  header .header__nav {
    display: none;
  }
  header .hamburger-menu {
    display: block;
    position: fixed;
  }
}
@media (max-width: 576px) {
  header .header__nav {
    display: none;
  }
  header .hamburger-menu {
    display: block;
    position: relative;
  }
}
.menu__item {
  color: #F9E8CD;
}

.hamburger-menu {
  display: none;
  z-index: 3;
}

#menu__toggle {
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: -9vh;
  left: 85vw;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #212121;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding: 10vh 0;
  list-style: none;
  background-color: rgba(67, 148, 244, 0.8);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
.menu__box li {
  padding: 1vh 0;
}
.menu__box li:hover {
  width: 100%;
  background-color: #F7AC3A;
}

.menu__item {
  text-decoration: none;
  color: #212121;
}

/* конец бургер-меню */
.footer {
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #F9E8CD;
  height: auto;
}

.footer__logo,
.footer__logo-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 13vh;
}

.footer__nav {
  display: flex;
  width: 100vw;
  list-style-type: none;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .footer__nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 576px) {
  .footer__nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__a {
  display: flex;
  text-decoration: none;
  padding: 1vh 2vw;
  text-wrap: nowrap;
}
.footer__a:hover {
  background-color: #F7AC3A;
  transform: translateY(-3px);
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Luckiest;
}

.body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.main {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #79C6FE;
}
@media screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 1em;
  background-color: #4394F4;
  height: 20vw;
  width: 20vw;
  padding: 1vw;
}
@media screen and (max-width: 1000px) {
  .block {
    height: 30vw;
    width: 30vw;
  }
}
.block img {
  width: 100%;
}

.block:hover {
  background-color: #C2F9A1;
  height: 21vw;
  width: 21vw;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .block:hover {
    height: 31.5vw;
    width: 31.5vw;
  }
}

.cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */