@import "./vars";
@import "./header";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.container {
  display: flex;
  height: 65vh;
  align-items: center;
  background-color: $bg;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  border-radius: 1em;
  background-color: $bg-dark;
  height: $block-size;
  width: $block-size;

  img {
    width: 80%;
  }
}

.cards-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
